<ion-content class="home-content">

  <!-- Top Row: Location + User -->
  <div class="top-row">
    <div class="location-box">
      <ion-icon src="assets/icon/doctor.svg"></ion-icon>
      <span>Hisar, Haryana</span>
    </div>

    <div class="user-box">
      <!-- User icon should remain name="" because it's Ionic built-in -->
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
  </div>

  <!-- Search Bar -->
  <ion-searchbar placeholder="Search Doctor, Hospital & Labs"></ion-searchbar>

  <!-- Offers / Slider -->
  <ion-card class="offer-card">
    <ion-card-content>
      Offers / Slider
    </ion-card-content>
  </ion-card>

  <!-- Category Grid -->
  <div class="category-grid">

    <div class="cat-item">
      <ion-avatar class="cat-avatar">
        <ion-icon src="assets/icon/doctor.svg"></ion-icon>
      </ion-avatar>
      <p>Cardiology</p>
    </div>

    <div class="cat-item">
      <ion-avatar class="cat-avatar">
        <ion-icon src="assets/icon/doctor.svg"></ion-icon>
      </ion-avatar>
      <p>Dentist</p>
    </div>

    <div class="cat-item">
      <ion-avatar class="cat-avatar">
        <ion-icon src="assets/icon/doctor.svg"></ion-icon>
      </ion-avatar>
      <p>Gynecology</p>
    </div>

    <div class="cat-item">
      <ion-avatar class="cat-avatar">
        <ion-icon src="assets/icon/doctor.svg"></ion-icon>
      </ion-avatar>
      <p>Physiotherapy</p>
    </div>

    <div class="cat-item">
      <ion-avatar class="cat-avatar">
        <ion-icon src="assets/icon/doctor.svg"></ion-icon>
      </ion-avatar>
      <p>Orthopedics</p>
    </div>

    <div class="cat-item">
      <ion-avatar class="cat-avatar">
        <ion-icon src="assets/icon/doctor.svg"></ion-icon>
      </ion-avatar>
      <p>All</p>
    </div>


  </div>

</ion-content>